@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }
    .shade{
    -webkit-box-shadow: 5px 5px 19px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 19px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 19px 0px rgba(0,0,0,0.75);
 }